{{!-- src + srcset starts with smallest first --}}
<a class="news-photo" href="{{assets}}/images/news-images/thanks/{{this.src}}"><img src="{{assets}}/images/news-images/thanks/900/{{this.src}}" alt="{{this.alt}}"></a>