<a class="person" href="http://twitter.com/{{twitter}}">
  <span class="photo"><img src="{{#if photo}}{{assets}}/images/mugshots/{{photo}}{{else}}http://placekitten.com/g/280/280{{/if}}" alt="Photo of {{name}}"></span>
  <span class="name">{{name}}</span>
  <span class="twitters">@{{twitter}}</span>
</a>
