<section id="sponsors">
  <div>
    <h2><img src="{{assets}}/images/headings/sponsors.svg" alt="Sponsors"></h2>
    <p>This event would simply not be possible without the generous support of these fantastic companies:</p>
    <div class="logos">
      <ul class="primary">
        <li class="campaign-monitor"><a href="http://www.campaignmonitor.com/"><img src="{{assets}}/images/sponsor-logos/campaign-monitor.svg" alt="Campaign Monitor"></a></li>
      </ul>
      <ul class="medium">
        <li class="envato"><a href="http://envato.com/"><img src="{{assets}}/images/sponsor-logos/envato.svg" alt="Envato"></a></li>
      </ul>
      <ul class="community">
        <li class="pin"><a href="http://pin.net.au/"><img src="{{assets}}/images/sponsor-logos/pin.svg" alt="Pin Payments"></a></li>
        <li class="ninety-nine-designs"><a href="http://99designs.com.au/"><img src="{{assets}}/images/sponsor-logos/99designs.svg" alt="99designs"></a></li>
        <li class="sitepoint"><a href="http://sitepoint.com/"><img src="{{assets}}/images/sponsor-logos/sitepoint.svg" alt="Sitepoint"></a></li>
      </ul>
    </div>
    <p class="media-partners">And last but not least, thank you to our media partners who’ve supported the event from the very beginning: <a href="http://www.offscreenmag.com/">Offscreen&nbsp;Magazine</a>, <a href="http://web-design-weekly.com/">Web&nbsp;Design&nbsp;Weekly</a>, and <a href="http://responsivedesign.is/">Responsive&nbsp;Web&nbsp;Design</a>.</p>
    <p class="more">We’re looking for more fantastic companies to help support this event. If your organisation could help, please drop an email to <a href="mailto:sponsors@THISDOMAIN">sponsors@THISDOMAIN</a> for more details.</p>
  </div>
</section>
